:root {
  font-family: "Roboto" !important;
}

nav {
  background-color: white;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-bottom: 0.01rem solid #1967d2;
}
nav .navbar-brand {
  margin: 0;
  height: 50%;
  width: 20%;
  text-align: left;
}
nav .navbar-brand img {
  max-width: 100%;
}
nav .navbar-collapse {
  margin: 0 0 0 50px;
}
nav .nav-items {
  cursor: pointer;
  text-align: center !important;
  margin: 5px 20px !important;
}
nav .nav-items .nav-item {
  font-weight: 600;
  color: #5f6368;
  margin: 5px;
}
nav .nav-items .nav-item .nav-link:hover {
  text-decoration: underline;
}
nav .nav-items .current-menu-item {
  text-decoration: underline;
}
nav .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
nav .dropdown-menu {
  min-width: 150px;
}
@media (max-width: 991px) {
  nav .navbar-brand {
    width: 30%;
  }
  nav .navbar-nav {
    text-align: center;
  }
  nav .navbar-nav .nav-item {
    margin-bottom: 1rem;
  }
}

.site-content {
  padding-top: 80px;
}

.home-container .hero-section {
  text-align: center !important;
}
.home-container .hero-section .container .main-heading {
  font-size: 50px !important;
  font-weight: 700;
  line-height: 70px !important;
  color: #2a2d2f;
}
.home-container .hero-section .container .main-heading .highlight {
  color: #1967d2;
}
.home-container .hero-section .container p {
  color: #74777a;
  font-size: 22px;
  line-height: 32px;
  padding: 20px 40px 30px 40px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}
.home-container .hero-section .container .logo {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
}
.home-container .hero-section .container .logo img {
  max-width: 48%;
  margin: 30px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.home-container .google-partner {
  background-color: #151b28;
  padding: 10px 0;
}
.home-container .google-partner .review-logo-img {
  padding: 10px;
  align-items: center;
}
.home-container .google-partner .review-logo-img img {
  width: 40%;
  height: 50%;
}
.home-container .home-product-sec {
  padding: 60px 0;
  text-align: center !important;
}
.home-container .home-product-sec .main-heading {
  font-size: 38px !important;
  font-weight: 700;
  line-height: 48px !important;
  color: #2a2d2f;
}
.home-container .home-product-sec p {
  color: #74777a;
  font-size: 22px;
  line-height: 32px;
  padding: 20px 40px 30px 40px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}

.pricing-container .pricing-title-section {
  text-align: center;
}
.pricing-container .pricing-title-section h1 {
  font-size: 42px !important;
  font-weight: 700;
  line-height: 70px !important;
  color: #006bcd;
  padding: 0 20px;
}
.pricing-container .pricing-title-section h5 {
  color: #5f6368;
  font-weight: 500;
  margin: 20px 0;
}
.pricing-container .pricing-title-section h5 span {
  background-color: #baffd6;
}
.pricing-container .pricing-title-section h2 {
  background: linear-gradient(90deg, #0875fc -11%, #06a3fc 44.54%, #03d7fd 104.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
  color: var(--ast-global-color-2);
  font-weight: 700;
}
.pricing-container .myplan-box-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pricing-container .myplan-box-section #parentTabs {
  margin-bottom: 24px;
  border: none;
  display: flex;
  justify-content: center;
}
.pricing-container .myplan-box-section #parentTabs .nav-link {
  width: 340px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  border: 1px solid #006bcd;
  transition: all 0.3s ease;
  margin: 0px 4px;
}
.pricing-container .myplan-box-section #parentTabs .nav-link img {
  transition: opacity 0.5s ease-in-out;
  opacity: 1 !important;
}
.pricing-container .myplan-box-section #parentTabs .nav-link.active {
  background-color: #006bcd;
}
.pricing-container .myplan-box-section #parentTabs .nav-link.active img.whitecolor {
  filter: brightness(0) invert(1);
}
.pricing-container .myplan-box-section #parentTabs .nav-link.active img.shopifyimg {
  filter: brightness(0) invert(1);
}
.pricing-container .myplan-box-section #parentTabs .text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  font-weight: bolder;
}
.pricing-container .myplan-box-section .childTabs .nav-tabs {
  border: none;
  border-radius: 0px;
}
.pricing-container .myplan-box-section .childTabs .nav-tabs .nav-item {
  width: 390px;
  text-align: center;
}
.pricing-container .myplan-box-section .childTabs .nav-tabs .nav-link {
  height: 42px !important;
  font-size: 14px !important;
  font-weight: 600;
  border: 0.91px solid rgb(0, 107, 205);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.09);
}
.pricing-container .myplan-box-section .childTabs .nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgb(0, 107, 205);
}
.pricing-container .myplan-box-section .align-items-end {
  align-items: flex-end !important;
}
.pricing-container .myplan-box-section .align-items-end .myplan-box {
  display: none;
}
.pricing-container .myplan-box-section .domain-box {
  text-align: center;
}
.pricing-container .myplan-box-section .domain-box p {
  color: #006bcd;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 14px;
}
.pricing-container .myplan-box-section .domain-box p .choose-domainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pricing-container .myplan-box-section .domain-box p .choose-domainbox .form-check-inline {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.pricing-container .myplan-box-section .domain-box p .choose-domainbox .form-check-inline .form-check-input {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: none;
}
.pricing-container .myplan-box-section .domain-box p .choose-domainbox .form-check-inline .form-check-label {
  font-size: 40px !important;
}
.pricing-container .pricingcard-wholebox .card {
  border-radius: 16px;
  border-top: 5px solid var(--Banner-Blue, #006bcd);
  background: var(--Pure-White, #fff);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
}
.pricing-container .pricingcard-wholebox .card .card-body {
  padding: 24px 0px;
  text-align: center;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box {
  text-align: center;
  padding: 0px 24px !important;
  margin: 5px 0;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .card-title {
  text-align: left;
  color: rgb(0, 107, 205);
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 46px;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .plan_summ {
  background: #d7f2ff;
  font-size: 15px;
  border-radius: 12px;
  border-left: 5px solid #006bcd;
  font-size: 14px !important;
  line-height: 22px !important;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .card-price {
  justify-content: flex-start !important;
  text-align: left;
  font-size: 36px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  color: #006bcd;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 36px;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .card-price span {
  font-size: 20px;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .card-price .offer-price {
  font-size: 18px !important;
  font-weight: 600;
  line-height: 10px;
  padding-left: 16px !important;
  color: #07bb4f;
  left: 0 !important;
  right: 0 !important;
  margin: 0px !important;
  position: relative !important;
  top: -13px !important;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .slash-price {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #2a2d2f;
  display: flex;
  font-weight: bold;
  margin: 12px 0px 10px;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .slash-price span {
  text-decoration: line-through;
  color: #8d9094;
  display: block;
  margin-left: 8px;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .getstarted-btn, .pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .contactus {
  text-align: center;
  margin: 3px 0;
}
.pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .getstarted-btn .common-btn, .pricing-container .pricingcard-wholebox .card .card-body .dynamicprice_box .contactus .common-btn {
  width: 100%;
  height: 44px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #006bcd;
  background-color: #006bcd;
  transition: all 0.3s ease;
}
.pricing-container .pricingcard-wholebox .card .card-body .features-link {
  text-align: center;
  display: flex;
  justify-content: center;
}
.pricing-container .pricingcard-wholebox .card .card-body .features-link a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #8d9094;
  margin: 10px 0px 20px;
  display: block;
  border-bottom: 1px solid;
  display: table;
  text-decoration: none;
  border-bottom: none;
}

.woocommerce-container .woocommerce-title-section {
  padding: 40px;
}
.woocommerce-container .woocommerce-title-section h1 {
  font-size: 42px !important;
  font-weight: 700;
  line-height: 47px !important;
  color: #131a2c;
  padding: 0 20px;
}
.woocommerce-container .woocommerce-title-section h5 {
  color: #5f6368;
  font-weight: 500;
  font-size: medium;
  margin: 20px 0;
}
.woocommerce-container .woocommerce-title-section h5 span {
  color: #6220b1 !important;
}
.woocommerce-container .woocommerce-title-section .shopify-product-hero-btn {
  padding: 1rem;
}
.woocommerce-container .woocommerce-title-section .shopify-product-hero-btn a {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  padding: 12px 35px;
  border-radius: 50px;
  background-color: #1967d2;
}

.blog-container .blog-tag-sec {
  text-align: center;
}
.blog-container .blog-tag-sec div {
  display: inline-block;
  font-weight: 600;
}
.blog-container .blog-tag-sec div a {
  color: #222d39;
  background-color: rgba(225, 232, 242, 0.7019607843);
  padding: 6px 12px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 15px;
}
.blog-container .blog-items .blog-card {
  width: 90%;
  transition: all 0.3s ease-in-out;
}
.blog-container .blog-items .blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blog-container .blog-items .blog-meta {
  font-size: 14px;
  color: #5f6368;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pagination .pages {
  display: none !important;
}
.pagination .wp-pagenavi {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination .wp-pagenavi span,
.pagination .wp-pagenavi a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.pagination .wp-pagenavi .current {
  background-color: #006bcd;
  color: #fff;
  font-weight: bold;
  border: 2px solid #006bcd;
}
.pagination .wp-pagenavi a {
  border: 2px solid #ddd;
  color: #006bcd;
  background: #fff;
}
.pagination .wp-pagenavi a:hover {
  background: #006bcd;
  color: #fff;
  border-color: #006bcd;
}
.pagination .wp-pagenavi .nextpostslink,
.pagination .wp-pagenavi .previouspostslink {
  font-weight: bold;
  border: 2px solid #006bcd;
  background: #006bcd;
  color: white;
}
.pagination .wp-pagenavi .nextpostslink:hover,
.pagination .wp-pagenavi .previouspostslink:hover {
  background: #00509a;
  border-color: #00509a;
}

.footer {
  margin-top: 100px;
  padding: 30px 0 10px 0;
  color: white;
  background-color: #151b28;
}
.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.footer form .form-label {
  font-size: 1rem;
}
.footer form .form-control {
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.footer form .btn-primary {
  background-color: #1967d2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}
.footer form .btn-primary:hover {
  background-color: #0056b3;
}
.footer .copyright {
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center !important;
  border-top: 1px solid white;
}
@media (max-width: 768px) {
  .footer .footer .row {
    text-align: center;
  }
  .footer .footer .col-md-4 {
    margin-bottom: 20px;
  }
  .footer .footer .col-md-6 {
    text-align: left;
  }
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-weight: 700;
  background-color: #1967d2;
  color: white;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-to-top-btn:hover {
  background-color: #1967d5;
}

.scroll-to-top-btn:focus {
  outline: none;
}/*# sourceMappingURL=styles.css.map */